body {
	background:#F6F4F1;
}

header.top {
	position: fixed;
	width: 20%;
	height: 100%;
	background: #43464F;
	color: white;
	display: flex;
	text-transform: uppercase;
	// justify-content: space-between;
	align-items: center;
	flex-flow: column wrap;
	padding: 25px;
	z-index: 9999;
	h1 {
		margin-top: 0;
	}
	.search {
		display: flex;
		align-items: center;
		display: flex;
		flex-flow: column wrap;
		width: 100%;
		margin-top: 20px;
		button.get {
			background: #F87748;
			color: white;
			font-weight: 700;
			padding: 25px;
			width: 100%;
			border: 0;
			&:hover {
				background:#F49C67;
			}
		}
		.preload {
			display: none;
		}
	}
}

section.results {
	width: 80%;
	margin-left: 20%;
	display: flex;
	flex-flow: column wrap;
	a {
		outline: none;
	}
	article {
		margin: 10px;
		width: calc(100% - 20px);
		background: white;
		display: flex;
		flex-flow: row wrap;
		position: relative;
		.image {
			width: 200px;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
		}
		.content {
			width: calc(100% - 200px);
			header {
				background: #2D4046;
				padding: 10px 25px 15px;
				color: white;
				display: flex;
				justify-content: space-between;
				align-items: center;
				.priceList {
					@include font-size(36, 40);
					font-weight: 700;
				}
			}
			.info {
				padding: 25px;
				p.title {
					font-weight: 300;
					color: #333;
				}
			}
		}
	}
}

button.get {
	// background: 
}