@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

@font-face {
  font-family: "mission script";
  src: url("fonts/mission-script-webfont.eot");
  src: url("fonts/mission-script-webfont.woff") format("woff"), url("fonts/mission-script-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal; }

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
body {
  font-size: 1em;
  /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  webkit-font-smoothing: antialiased;
  color: #414042; }

/* Setup */
html {
  /* Change default typefaces here */
  font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: auto;
  -ms-text-size-adjust: auto;
  -o-text-size-adjust: auto;
  text-size-adjust: auto; }

/* Copy & Lists */
p {
  line-height: 1.5rem;
  margin-top: 0.3rem;
  margin-bottom: 0; }
  p.title {
    font-weight: 700; }

ul,
ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }
  ul li,
  ol li {
    line-height: 1.5rem; }
  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin-top: 0;
    margin-bottom: 0; }

blockquote {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Change heading typefaces here */
  font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1.5rem;
  font-weight: 700; }

h1 {
  font-size: 3.3229rem;
  line-height: 3.525rem; }

h2 {
  font-size: 3.2522rem;
  line-height: 3.45rem; }

h3 {
  font-size: 1.414rem;
  margin-top: 3rem; }

h4 {
  font-size: 1.17833rem; }

h5 {
  font-size: 1.01rem; }

h6 {
  font-size: 0.78556rem; }

/* Tables */
table {
  margin-top: 1.5rem;
  border-spacing: 0px;
  border-collapse: collapse; }

td,
th {
  padding: 10px;
  line-height: 24px; }

td:first-child {
  font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

/* Code blocks */
code {
  vertical-align: bottom; }

/* Leading paragraph text */
.lead {
  font-size: 1.414rem; }

/* Hug a the block above you */
.hug {
  margin-top: 0; }

strong {
  font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #329898;
  text-decoration: none;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s; }
  a:hover {
    color: #51c6c6; }

.button, a.redBtn, a.button, a.redBtn {
  font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1.333rem;
  line-height: 2.667rem;
  color: #fff;
  display: inline-block;
  background-color: #329898;
  text-transform: lowercase;
  padding: 5px 21px;
  margin-right: 25px;
  border: none;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s; }
  .button:hover, a.redBtn:hover, a.button:hover, a.redBtn:hover {
    background-color: #51c6c6; }

a.redBtn {
  background-color: #329898;
  line-height: 2em; }

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }

label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }

fieldset {
  padding: 0;
  border-width: 0; }

input[type="checkbox"],
input[type="radio"] {
  display: inline; }

label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }

/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: 0.2rem 0.5rem;
  font-size: 90%;
  font-family: monospace;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  margin: 0 0 0 1rem;
  white-space: pre; }

pre {
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */ }

body {
  width: 100%;
  *zoom: 1; }
  body:before,
  body:after {
    display: table;
    content: '';
    line-height: 0; }
  body:after {
    clear: both; }

body {
  background: #F6F4F1; }

header.top {
  position: fixed;
  width: 20%;
  height: 100%;
  background: #43464F;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  padding: 25px;
  z-index: 9999; }
  header.top h1 {
    margin-top: 0; }
  header.top .search {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: flex;
    -webkit-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    width: 100%;
    margin-top: 20px; }
    header.top .search button.get {
      background: #F87748;
      color: white;
      font-weight: 700;
      padding: 25px;
      width: 100%;
      border: 0; }
      header.top .search button.get:hover {
        background: #F49C67; }
    header.top .search .preload {
      display: none; }

section.results {
  width: 80%;
  margin-left: 20%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap; }
  section.results a {
    outline: none; }
  section.results article {
    margin: 10px;
    width: calc(100% - 20px);
    background: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    position: relative; }
    section.results article .image {
      width: 200px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center; }
    section.results article .content {
      width: calc(100% - 200px); }
      section.results article .content header {
        background: #2D4046;
        padding: 10px 25px 15px;
        color: white;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        section.results article .content header .priceList {
          font-size: 36px;
          line-height: 40px;
          font-size: 2rem;
          line-height: 2.22222rem;
          font-weight: 700; }
      section.results article .content .info {
        padding: 25px; }
        section.results article .content .info p.title {
          font-weight: 300;
          color: #333; }
